:root {
    --primary-bg-color: #0E1428;
    --header-bg-color: #172044;
    --link-color: #35A7A5;
    --link-hover-bg-color: #4d61b0;
    --text-color: #247BA0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

.header {
    background-color: var(--header-bg-color);
    padding: 1rem;
    text-align: center;
}

.header-title {
    margin: 0;
}

.navbar {
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: center;
}

.nav-link {
    color: var(--link-color);
    padding: 1rem;
    text-decoration: none;
}

.nav-link:hover {
    background-color: var(--link-hover-bg-color);
}

.content {
    padding: 2rem;
}

.content a {
    color: var(--link-color); /* Consistent link color */
    text-decoration: none; /* Remove underline for a cleaner look */
    font-weight: bold; /* Emphasize the links */
    transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth transition effect */
    border-bottom: 2px solid transparent; /* Subtle underline effect */
}

.content a:hover {
    color: var(--link-hover-bg-color); /* Change color on hover */
    border-bottom: 2px solid var(--link-hover-bg-color); /* Underline on hover */
}
